In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default= "plotly_white"

In [3]:
netflix_data=pd.read_csv("netflix_content_2023.csv")

In [4]:
netflix_data.head()

,Title,Available Globally?,Release Date,Hours Viewed,Language Indicator,Content Type
0,The Night Agent: Season 1,Yes,2023-03-23,"81,21,00,000",English,Show
1,Ginny & Georgia: Season 2,Yes,2023-01-05,"66,51,00,000",English,Show
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,"62,28,00,000",Korean,Show
3,Wednesday: Season 1,Yes,2022-11-23,"50,77,00,000",English,Show
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"50,30,00,000",English,Movie

In [6]:
netflix_data['Hours Viewed']=netflix_data['Hours Viewed'].replace(',', '', regex=True).astype(float)
netflix_data[['Title', 'Hours Viewed']].head()

                                 Title  Hours Viewed
0            The Night Agent: Season 1   812100000.0
1            Ginny & Georgia: Season 2   665100000.0
2   The Glory: Season 1 // 더 글로리: 시즌 1   622800000.0
3                  Wednesday: Season 1   507700000.0
4  Queen Charlotte: A Bridgerton Story   503000000.0